In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

pathDir = 'C:/Users/Staz/Downloads/ttcct2/Anonimizados'

calculoDir = pathDir + '/' + 'Calculo1'
mdDir = pathDir + '/' + 'MD'
icDir = pathDir + '/' + 'IC'
ttccDir = pathDir + '/' + 'ttcc'
sample = pathDir + '/sample.csv'

#-------------------------------------------------- CAlC --------------------------------------------------------

fileList = os.listdir(calculoDir)

calcFrame = pd.read_csv(sample,sep=';',encoding='latin-1')
for i in range(len(fileList)):
    dTemp = pd.read_csv(calculoDir +'/'+ fileList[i],sep=';',encoding='latin-1')
    calcFrame = pd.concat([calcFrame,dTemp],ignore_index=True)
    
calcFrame.head()

,ID_TURMA,DESCR_SITUACAO,COD_TURMA,ID_PESSOA,COD_CURSO,NOME_CURSO,COD_ATIV_CURRIC,NOME_ATIV_CURRIC,NOTA1,NUM_FALTAS1,...,NOTA6,NUM_FALTAS6,NOTA7,NUM_FALTAS7,MEDIA_FINAL,DESCR_SITUACAO_1,ANO,DESCR_PERIODO,SITUACAO_ITEM,PERIODO_ITEM
0,85148,Reprovado por Freqüência,17,103925,IE08,Ciência da Computação,IEM011,CALCULO I,NaN,NaN,...,NaN,NaN,NaN,NaN,"0,22",Reprovado por Freqüência,2013,1° Semestre,3,201
1,85148,Aprovado,17,106109,IE08,Ciência da Computação,IEM011,CALCULO I,NaN,NaN,...,NaN,NaN,NaN,NaN,"5,11",Aprovado,2013,1° Semestre,1,201
2,85148,Reprovado por Nota,17,105176,IE08,Ciência da Computação,IEM011,CALCULO I,NaN,NaN,...,NaN,NaN,NaN,NaN,"0,67",Reprovado por Nota,2013,1° Semestre,2,201
3,85148,Aprovado,17,105168,IE08,Ciência da Computação,IEM011,CALCULO I,NaN,NaN,...,NaN,NaN,NaN,NaN,"5,33",Aprovado,2013,1° Semestre,1,201
4,85148,Reprovado por Freqüência,17,102504,IE08,Ciência da Computação,IEM011,CALCULO I,NaN,NaN,...,NaN,NaN,NaN,NaN,0,Reprovado por Freqüência,2013,1° Semestre,3,201

In [8]:
fileList = os.listdir(icDir)

icFrame = pd.read_csv(sample,sep=';',encoding='latin-1')
for i in range(len(fileList)):
    dTemp = pd.read_csv(icDir +'/'+ fileList[i],sep=';',encoding='latin-1')
    icFrame = pd.concat([icFrame,dTemp],ignore_index=True)
     
icFrame.head()

,ID_TURMA,DESCR_SITUACAO,COD_TURMA,ID_PESSOA,COD_CURSO,NOME_CURSO,COD_ATIV_CURRIC,NOME_ATIV_CURRIC,NOTA1,NUM_FALTAS1,...,NOTA6,NUM_FALTAS6,NOTA7,NUM_FALTAS7,MEDIA_FINAL,DESCR_SITUACAO_1,ANO,DESCR_PERIODO,SITUACAO_ITEM,PERIODO_ITEM
0,87196,Reprovado por Nota,1,103925,IE08,Ciência da Computação,ICC001,INTRODUÇÃO À COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,0,Reprovado por Nota,2013,1° Semestre,2,201
1,87196,Aprovado,1,106109,IE08,Ciência da Computação,ICC001,INTRODUÇÃO À COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,"7,07",Aprovado,2013,1° Semestre,1,201
2,87196,Aprovado,1,105176,IE08,Ciência da Computação,ICC001,INTRODUÇÃO À COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,"5,02",Aprovado,2013,1° Semestre,1,201
3,87196,Reprovado por Nota,1,105168,IE08,Ciência da Computação,ICC001,INTRODUÇÃO À COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,"2,67",Reprovado por Nota,2013,1° Semestre,2,201
4,87196,Reprovado por Freqüência,1,102504,IE08,Ciência da Computação,ICC001,INTRODUÇÃO À COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,0,Reprovado por Freqüência,2013,1° Semestre,3,201

In [9]:
fileList = os.listdir(mdDir)

mdFrame = pd.read_csv(sample,sep=';',encoding='latin-1')
for i in range(len(fileList)):
    dTemp = pd.read_csv(mdDir +'/'+ fileList[i],sep=';',encoding='latin-1')
    mdFrame = pd.concat([mdFrame,dTemp],ignore_index=True)
     
mdFrame.head()

,ID_TURMA,DESCR_SITUACAO,COD_TURMA,ID_PESSOA,COD_CURSO,NOME_CURSO,COD_ATIV_CURRIC,NOME_ATIV_CURRIC,NOTA1,NUM_FALTAS1,...,NOTA6,NUM_FALTAS6,NOTA7,NUM_FALTAS7,MEDIA_FINAL,DESCR_SITUACAO_1,ANO,DESCR_PERIODO,SITUACAO_ITEM,PERIODO_ITEM
0,137968,Aprovado,CB01,130413,IE08,Ciência da Computação,ICC120,MATEMÁTICA DISCRETA,NaN,NaN,...,NaN,NaN,NaN,NaN,"7,45",Aprovado,2016,1° Semestre,1,201
1,137968,Aprovado,CB01,130406,IE08,Ciência da Computação,ICC120,MATEMÁTICA DISCRETA,NaN,NaN,...,NaN,NaN,NaN,NaN,"5,06",Aprovado,2016,1° Semestre,1,201
2,137968,Reprovado por Freqüência,CB01,129393,IE08,Ciência da Computação,ICC120,MATEMÁTICA DISCRETA,NaN,NaN,...,NaN,NaN,NaN,NaN,0,Reprovado por Freqüência,2016,1° Semestre,3,201
3,137968,Aprovado,CB01,130409,IE08,Ciência da Computação,ICC120,MATEMÁTICA DISCRETA,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,15",Aprovado,2016,1° Semestre,1,201
4,137968,Aprovado,CB01,129247,IE08,Ciência da Computação,ICC120,MATEMÁTICA DISCRETA,NaN,NaN,...,NaN,NaN,NaN,NaN,"6,24",Aprovado,2016,1° Semestre,1,201

In [10]:
fileList = os.listdir(ttccDir)

ttccFrame = pd.read_csv(sample,sep=';',encoding='latin-1')
for i in range(len(fileList)):
    dTemp = pd.read_csv(ttccDir +'/'+ fileList[i],sep=';',encoding='latin-1')
    ttccFrame = pd.concat([ttccFrame,dTemp],ignore_index=True)
     
ttccFrame.head()

,ID_TURMA,DESCR_SITUACAO,COD_TURMA,ID_PESSOA,COD_CURSO,NOME_CURSO,COD_ATIV_CURRIC,NOME_ATIV_CURRIC,NOTA1,NUM_FALTAS1,...,NOTA6,NUM_FALTAS6,NOTA7,NUM_FALTAS7,MEDIA_FINAL,DESCR_SITUACAO_1,ANO,DESCR_PERIODO,SITUACAO_ITEM,PERIODO_ITEM
0,85151,Reprovado por Nota,1,103925,IE08,Ciência da Computação,ICC100,FUNDAMENTOS DE CIÊNCIA DA COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,"2,17",Reprovado por Nota,2013,1° Semestre,2,201
1,85151,Aprovado,1,106109,IE08,Ciência da Computação,ICC100,FUNDAMENTOS DE CIÊNCIA DA COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,"7,42",Aprovado,2013,1° Semestre,1,201
2,85151,Aprovado,1,105176,IE08,Ciência da Computação,ICC100,FUNDAMENTOS DE CIÊNCIA DA COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,"7,42",Aprovado,2013,1° Semestre,1,201
3,85151,Aprovado,1,105168,IE08,Ciência da Computação,ICC100,FUNDAMENTOS DE CIÊNCIA DA COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,8,Aprovado,2013,1° Semestre,1,201
4,85151,Reprovado por Freqüência,1,102504,IE08,Ciência da Computação,ICC100,FUNDAMENTOS DE CIÊNCIA DA COMPUTAÇÃO,NaN,NaN,...,NaN,NaN,NaN,NaN,0,Reprovado por Freqüência,2013,1° Semestre,3,201

In [18]:
anos = calcFrame['ANO'].unique()
aprov = []
aprov2 = []

print('Calculo\tInt. Computação\tMatematica Discreta\tTextos Tecnicos\n')
for x in range(len(anos)):
    apCalc = sum((calcFrame['ANO'] == anos[x]) & (calcFrame['DESCR_SITUACAO'] == 'Aprovado'))/sum(calcFrame['ANO'] == anos[x])
    apIc = sum((icFrame['ANO'] == anos[x]) & (icFrame['DESCR_SITUACAO'] == 'Aprovado'))/sum(calcFrame['ANO'] == anos[x])
    apMd = sum((mdFrame['ANO'] == anos[x]) & (mdFrame['DESCR_SITUACAO'] == 'Aprovado'))/sum(calcFrame['ANO'] == anos[x])
    apTtcc = sum((ttccFrame['ANO'] == anos[x]) & (ttccFrame['DESCR_SITUACAO'] == 'Aprovado'))/sum(calcFrame['ANO'] == anos[x])
    print(anos[x], '\t',apCalc, '\t',apIc, '\t',apMd,'\t', apTtcc,'\t')
    aprov2.append(sum(calcFrame['ANO'] == anos[x]))

Calculo	Int. Computação	Matematica Discreta	Textos Tecnicos

2013 	 0.29310344827586204 	 0.5862068965517241 	 0.0 	 0.7068965517241379
2014 	 0.30357142857142855 	 0.7142857142857143 	 0.0 	 0.7142857142857143
2015 	 0.16363636363636364 	 0.8909090909090909 	 0.0 	 0.7636363636363637
2016 	 0.3148148148148148 	 0.7777777777777778 	 0.48148148148148145 	 0.5370370370370371
2017 	 0.6851851851851852 	 0.7592592592592593 	 0.37037037037037035 	 0.6481481481481481
2018 	 0.6607142857142857 	 0.8035714285714286 	 0.8214285714285714 	 0.30357142857142855
2019 	 0.12962962962962962 	 0.7222222222222222 	 0.6111111111111112 	 0.4074074074074074
2020 	 1.0 	 0.475 	 0.425 	 0.5833333333333334